<div class="row">
  <!-- Page Header -->
  <div class="col-lg-12">
    <h1 class="page-header">Nowy kelner</h1>
  </div>
  <!--End Page Header -->
</div>

<div class="row">
  <%= render 'form' %>
</div>
