<div class="row">
  <!-- Page Header -->
  <div class="col-lg-12">
    <h1 class="page-header">Lista stolików</h1>
  </div>
  <!--End Page Header -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Numer stolika</th>
          <th>Restauracja</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render @tables %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Dodaj nowy stolik", new_table_path, :class => "btn btn-danger btn-lg btn-block" %>
  </div>
</div>