<ul class="nav navbar-top-links navbar-right">
  <!-- main dropdown -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-3x"></i>
    </a>
    <!-- dropdown user-->
    <ul class="dropdown-menu dropdown-user">
      <li><%= link_to RestaurantOwner.find(current_user.actable_id) do%><i class="fa fa-user fa-fw"></i>Profil użytkownika <% end %>
      </li>
      <li><%= link_to edit_restaurant_owner_path(RestaurantOwner.find(current_user.actable_id)) do%><i class="fa fa-gear fa-fw"></i>Edytuj profil <% end %>
      </li>
      <li class="divider"></li>
      <li><%= link_to logout_path, method: "delete" do%><i class="fa fa-sign-out fa-fw"></i>Wyloguj się <% end %>
      </li>
    </ul>
    <!-- end dropdown-user -->
  </li>
  <!-- end main dropdown -->
</ul>