<ul class="nav navbar-top-links navbar-right">
  <!-- main dropdown -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-3x"></i>
    </a>
    <!-- dropdown user-->
    <ul class="dropdown-menu dropdown-user">
      <li><a href="#"><i class="fa fa-user fa-fw"></i>Profil użytkownika</a>
      </li>
      <li><a href="#"><i class="fa fa-gear fa-fw"></i>Ustawienia</a>
      </li>
      <li class="divider"></li>
      <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Wyloguj się</a>
      </li>
    </ul>
    <!-- end dropdown-user -->
  </li>
  <!-- end main dropdown -->
</ul>